[Bb]in/
[Oo]bj/
[Ll]og/
TestResults/
*.exe
*.dll
*.pdb
*.appx
*.cache
*.log

*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/

.vs/


*.nupkg

*.dbmdl
*.bak
*.tmp
*.swp
*.DS_Store

project.lock.json
artifacts/
